  /*Utility Class*/
.hide
{
  display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; 
}


/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}

/*Fonts*/
@font-face {
font-family: tenso, sans-serif;
font-weight: 400;
font-style: normal;
}

/*General Rules for Elements*/

body
{
  font-family: 'tenso', Helvetica, Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a 
{ 
  color:#000; 
  text-decoration: none;  
  transition:all .1s linear 0s;
}

p
{
  font-family: 'tenso', Helvetica, Arial, sans-serif;
  color: black;
  font-size: 15px;
}

.container {
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
  max-width: 1200px; 
}

/*Header and Nav*/

#mainHeader
{
  margin-bottom: 20px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}

#traaLogo
{
  display: block;
  max-height: 60px;
  margin-top: 0;
}

#title
{
  font-size: 28px;
  font-family: Boogaloo;
  src: url(../assets/fonts/boogaloo/Boogaloo-Regular.otf);
  font-weight: bold;
  color: #9BBC49;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}


/*want to push burger menu to right, set to flex*/
#mainNav
{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

#mainNav button
{
  background: url(../img/burger.svg) center no-repeat;
  width: 36px;
  height: 52px;
  border: 0;
  transition: all 400ms ease;
}

#burgerMenu
{
  list-style: none;
}

#mainNav button.expanded
{
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-left: auto;
}

#mainNav li a
{
  display: block;
  padding: 10px 0 10px 0; /*trbl*/
  color: #8ea76d;
  text-align: center;
}

#mainNav li
{
  border-bottom: 1px solid #efefef;
}

#mainNav li:first-child
{
  border-top: 1px solid #efefef;
}

#mainNav li:last-child
{
  margin-bottom: 10px;
}


#mainNav input[type=text]
{
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #cacaca;
  border-radius: 3px 0px 3px 0px;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10,10,10, 0.1);
  color: #0a0a0a;
}

#mainNav input[type=submit]
{
  height: 40px;
  width: 100px;
  border-radius: 0 3px 3px 0;
  text-align: center;
  font-size: 14px;
  background-color: #8fa771;
  color: #fefefe;
  border: 0;
}

#burgerCon
{
  margin-top: 20px;
  display: none;
}

#burgerCon.slideToggle
{
  display: block;
}

.home
{
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

#welcomePhoto
{
  min-width: 300px;
}

#welcomeText
{
  text-align: center;
  min-width: 70%;
}


#welcome
{
  font-size: 28px;
  width: 100%;
}

#dedication
{
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: 20px;
  width: 100%;
}

#quote
{
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#gearImg
{
  display: flex;
  flex-direction: row;
}

#gear1
{
  margin-right: 5px;
  min-width: 140px;
  margin-left: 15px;
}

#gear2
{
  margin-left: 5px;
  min-width: 140px;
  margin-right: 15px;
}

#gearHeading
{
  background-color: #9abb48;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 50px;
  margin-bottom: 25px;
  height: 40px;
  line-height: 40px;
  font-weight: normal;
}

#homeCon h2
{
  width: 100%;
  text-align: center;
}

#rodHeading
{
  background-color: #5d7030;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 50px;
  margin-bottom: 25px;
  height: 40px;
  line-height: 40px;
  color: white;
  font-weight: normal;
}

.rodBuildingInfo
{
  text-align: center;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.rodsImg
{
  display: flex;
  flex-direction: row;
}

#fundraisingHeading
{
  background-color: #5d7030;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 50px;
  margin-bottom: 25px;
  height: 40px;
  line-height: 40px;
  color: white;
  font-weight: normal;
}

.fundraising p
{
  text-align: center;
  width: 100%;
  background-color: #9abb48;
  width: 270px;
  height: 70px;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  font-size: 16px;
}

#businessesHeading
{
  background-color: #5d7030;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 50px;
  margin-bottom: 25px;
  height: 40px;
  line-height: 40px;
  color: white;
  font-weight: normal;
}

#logos1
{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 25px;
}

#logos2
{
  display: flex;
  flex-direction: row;
  max-width: 60%;
  justify-content: center;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tryRecycling
{
  margin-top: 25px;
}

#logos1 p, #logos2 p
{
  text-align: center;
  font-size: 12px;
}

.logoCon
{
  margin: 10px;
}

.member
{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}

.memberPhotoLeft, .memberPhotoRight
{
  margin-bottom: 5px;
  margin-top: 20px;
  width: 100%;
  max-width: 334px;
}

#becomeMember
{
  width: 95%;
  background-color: #9abb48;
  padding: 3px 0;
  color: black;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  font-size: 30px
}

#narrowerText
{
  margin-left: 10px;
  margin-right: 10px;
}

.memberHeading
{
  width: 100%;
  background-color: #5d7031;
  text-align: center;
  color: #fff;
  height: 30px;
  line-height: 30px;
}

.member p
{
  text-align: justify;
}




#contactCon
{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

#contactCon h2
{
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}


#formContainer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 90px;
}

#formContainer label
{
  font-size: 26px;
  margin-bottom: 5px;
}

#phone, #email, #name, #message
{
  padding: 6px 15px 6px 15px; /*trbl*/
  border: 2px solid #9bbc49;
  border-radius: 10px;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  margin-bottom: 35px;
  height: 40px;
}

#message
{
  height: 100px;
}

#submit
{
  background-color: #9bbc49;
  width: 140px;
  padding: 6px 15px 6px 15px; /*trbl*/
  border: 2px solid #9bbc49;
  border-radius: 10px;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  font-size: 20px;
}

#mapCon
{
  margin: 0 auto;
  text-align: center;
}

#address
{
  text-align: center;
  font-size: 18px;
}

#moreContactInfo
{
  display: grid;
  grid-template-columns: repeat(4, max-content(0,1fr));
  grid-gap: 10px;
  margin: 0px auto;
  padding: 0px 40px 0px 40px;
  max-width: 320px; 
}

.shipping
{
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  width: 100%;
  background-color: #5d7031;
  color: white;
  height: 40px;
  line-height: 40px;
  margin-bottom: 50px;
}

#moreContactInfo p
{
  grid-column: 2/3;
  margin-left: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
}

#moreContactInfo a
{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  margin-right: 10px;
  font-size: 25px;
  background-color: #9bbc49;
  color: white;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
}


#footerCon
{
  background-color: #9bbc49;
  height: 42px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  margin: 0 auto;
}

#footerNav
{
  display: none;
}

footer
{
  font-size: 20px;
}

@media screen and (min-width: 500px) {

  #rodImgCon
  {
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
  grid-gap: 20px;
  }

  .rodsImg
  {
    display: contents;
  }

  .rod
  {
    min-width: 150px;
    width: 100%;
    flex-flow: 3;
  }

  #quote
  {
    margin-left: 30px;
    margin-right: 30px;
  }

.fundraising
{
  display: flex;
  flex-direction: column;
}

  .fundraising p
{
  text-align: center;
  width: 100%;
  background-color: #9abb48;
  height: 70px;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  font-size: 16px;
}




}

@media screen and (min-width: 650px) {
.home
{
  
}

.welcomeCon

#welcomePhoto
{
  min-width: auto;
  margin: 0;
  min-width: auto;
}

#welcomeText
{
  text-align: left;
  min-width: auto;
  display: flex;
  flex-direction: column;
}


#welcome
{
  font-size: 28px;
  width: auto;
}
#quote
{
  display: flex;
  margin: 0;
  min-width: auto;
  word-wrap: wrap;
}

}


@media screen and (min-width: 750px) {

  #gearBanner
{
  display: block;
  background-color: #9abb48;
  height: 220px;
  width: 100%;
  margin-top: 90px;
  margin-bottom: -200px;
  z-index: 1;
}

  #gearCon
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
    margin-top: -100px;
  }

  .gearText
  {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
  }

  .gearText p
  {
    font-size: 20px;
    max-width: 80%;
    margin-left: 8%;
  }

  .gearText h2
  {
    display: block;
    font-size: 20px;
    max-width: 80%;
    margin-left: 8%;
  }

  #gearImg
  {
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    margin-top: 20px;
  }

  #gearImg img
  {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    min-width: 200px;
  }

  #gearHeading
  {
    display: none;
  }

  #gearAvailable
  {
    font-size: 26px;
    margin-top: 5px;

  }

  #gearTees
  {
    font-size: 22px;
    margin-top: -15px;
    margin-bottom: 0;
  }
  

   .fundraising p
  {
    width: 300px;
    height: 130px;
    margin-top: 40px;
    font-size: 40px;
  }

   .rod
  {
    min-width: 200px;
  }

  .fundraising img
  {
    display: block
  }

  .member
  {
    display: grid;
    grid-template-columns: repeat(6, max-content(0,1fr));
    grid-gap: 20px;
    justify-content: center;
    margin: 0px auto;
    padding: 0px 40px 0px 40px;
     max-width: 1200px; 
  }

  .fundraising
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .fundraising p
  {
    background-color: transparent;
    font-size: 20px;
    margin: 0;
    width: 245px;
  }

  .fundraisingDesktop
  {
    display: flex;
    flex-direction: column;
  }

  .hatcheryDesktop
  {
    max-width: 245px;
  }

  .salmonidsDesktop
  {
    max-width: 245px;
  }

  .komokaDesktop
  {
    max-width: 245px;
  }

  .heading1
  {
    margin-top: 0px;
    display: block;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 0px;
  }

  .memberPhotoLeft
  {
    grid-column: 1/4;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  #narrowerText
  {
    grid-column: 4/7;
    grid-row: 1/2;
    margin-top: 25px;
    margin-left: 0px;
  }

  #becomeMember
  {
    display: none;
  }

  .memberTextLeft
  {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 55px;
  }

  .memberPhotoRight
  {
    grid-column: 4/7;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .memberTextRight
  {
    grid-column: 4/7;
    grid-row: 1/2;
    margin-top: 55px;
  }

  #message
{
  height: 250px;
}

.container
{
  z-index: 2;
}

  #contactMap
  {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
  }


  .shipping
  {
    color: white;
    background-color: transparent;
    margin-left: 5px;
    margin-top: 130px;
    margin-bottom: 35px;
    font-size: 30px;
    margin-left: -26px;
  }

  #moreContactInfo p
  {
    color: white;
    font-size: 15px;
  }

  #moreContactInfo a
  {
    color: white;
    background-color: transparent;
    font-size: 30px;
    margin-left: -95px;
    margin-top: 50px;
  }

  #moreContactInfo
  {
    margin-left: -60px;
  }

  #mapCon
  {
    order: 1;
    margin-right: 0;
    margin-left: 0;
  }

  #shippingBanner
  {
    z-index: 1;
    background-color: #5d7031;
    height: 450px;
    width: 100%;
    margin-top: -575px;
    margin-bottom: 300px;
  }

  footer
  {
    margin-top: 300px;
  }
}

@media screen and (min-width: 1000px) {

  .container
  {
    display: flex;
    flex-direction: column;
  }

  #mainHeader
  {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  #burgerCon
  {
    display: flex;
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
  }

  #burgerMenu
  {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: center;
  }

  #mainNav
  {
    order: -2;
    background-color: #9bbc49;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 0;
  }

  #mainNav li
  {
    border-bottom: none;
    margin-left: 20px;
    margin-top: -30px;

  }

  #traaLogo
  {
     max-height: 200px;
  }

  .logoCon
  {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: -50px;
  }

  #button
  {
    display: none;
  }

  #title
  {
    display: none;
  }

  .titleDesktop
  {
    display: block;
    font-size: 50px;
    margin-left: 100px;
  }

  #mainNav li:first-child
  {
    border-top: none;
  }

  #mainNav li a
{
  padding: 10px 0 10px 0; /*trbl*/
  color: black;
  text-align: center;
  margin-bottom: 60px;
  font-size: 20px;

}

#rodImgCon
  {
  display: grid;
  grid-template-columns: repeat(6, minmax(0,1fr));
  grid-gap: 20px;
  }

  .rodsImg
  {
    display: contents;
  }

  .rod
  {
    min-width: 150px;
    width: 100%;
    flex-flow: 3;
  }

  .logoHomeCon
  {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  #logos2
  {
    margin-top: 90px;
    justify-content: space-around;
  }

  #desktopContact
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  #desktopContact img
  {
    display: block;
    width: 382px;
    height: 574px;
    
  }

  #contactCon h2
  {
    display: none;
  }
  
  .contactUsDesktop
  {
    display: block;
    font-size: 30px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 90px;
  }

  #formContainer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 110%;
  margin-bottom: 90px;
  margin-left: -50px;
}

  #message
{
  height: 130px;
}

#mapCon iframe
{
  width: 382px;
  margin-right: -20px;
}

#shippingCon
{
  margin-left: -20px;
}

.memberBanner
{
  display: block;
  background-color: #9abb48;
  height: 50px;
  width: 100%;
  margin-top: 150px;
  margin-bottom: -105px;
  z-index: 1;
}

.member
{
  z-index: 2;
}

.heading1
{
  margin-top: 35px;
}

.lowerBanner
{
  height: 160px;
  z-index: 1;
  width: 100%;
  background-color: #5d7031;
  margin-bottom: -175px;
  margin-top: 80px;
}

.memberHeading
{
  display: none;
}

#memberPhotoLeft
{
  width: 315px;
}



  .environmentalismCon
  {
    display: flex;
    flex-direction: column;
    max-width: 315px;
  }

  .headingDesktop
  {
    display: contents;
    text-align: right;
    font-size: 25px;
  }

  .differenceCon
  {
    display: flex;
    flex-direction: column;
    max-width: 315px;
  }

    .meetingsCon
  {
    display: flex;
    flex-direction: column;
    max-width: 315px;
  }

    .mainText
  {
    height: 500px;
    margin-top: 0;
  }


  #mainCon
  {
    display: flex;
  }

  footer
  {
    display: none;
  }




 }


