@charset "UTF-8";
/*CSS Doc*/

@font-face {
  font-family: Boogaloo;
  src: url(../assets/fonts/boogaloo/Boogaloo-Regular.otf);
  font-weight: bold;
}

.hidden {
	display: none;
}

b {
	font-weight: bold;
}

a {
	color: #5d7031;
	transition: 0.5s;
}

a:hover {
	letter-spacing: 2px;
}


.shadowCurve
{
	border-radius: 7px;
	box-shadow: 0px 0px 5px rgba(50,50,50,0.4);
}


.theBody {
	background-color: #5C7031;
	color: #000;
    font-size: 15px;
    line-height: 15px;
    font-family: agency-fb, sans-serif;
}

.theHeader {
	margin: 34px 80px 33px 50px;
	flex-direction: row;
	display: flex;
}

.theFooter {
	background-color: #9BBC49;
	width: 940px;
	height: 190px;
	padding: 30px;
	justify-content: space-between;
	flex-direction: row;
	display: flex;
}

.katFooter {
	margin-top: 1200px;
}

.theContainer {
	background-color: white;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding-top: 50px;
}

.topNav {
	background-color: #9BBC49;
	width: 980px;
	height: 29px;
	position: fixed;
	display: flex;
	top: 0px; 
	padding: 8px 10px 9px 10px;
	font-size: 29px;
	line-height: 29px;
	text-align: right;
	z-index: 3;
}

.topNav ul {
	margin-left: auto;
	display: flex;
	flex-direction: row;
}

.topNav ul li {
	display: block;
	z-index: 5;
	position: relative;
	/*top: -130px;*/
}

.topNav a {
	background-color: #9BBC49;
}

.navBullet {
	margin: 10px;
}

.fishIcon {
	z-index: -3;
	position: absolute;
	top: -175px;
	width: 50px;
	height: 156px;
}

.topNav ul li:hover .fishIcon {
	display: inline;
	animation-name: peekaboo;
	animation-duration: 1s;
}

@keyframes peekaboo {
  0% { top: -175px; }
  50% { top: -50px; }
  100% { top: -175px; }
}

.logo {
	width: 200px;
	height: 200px;
	margin-right: 50px;
	margin-bottom: 12px;
}

.logoSvg {
	width: 200px;
	height: 200px;
}

.siteTitle {
	color: #9BBC49;
	width: 620px;
	height: 212px;
	font-size: 95px;
	line-height: 95px;
	text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

.fundraising {
	background-color: #9BBC49;
	width: 195px;
	height: 170px;
	font-size: 12px;
	line-height: 12px;
	padding: 10px;
}

.fundraising span {
	font-family: Boogaloo;
	margin-bottom: 7px;
	font-size: 16px;
	line-height: 20px;
	display: block;
}

.cause {
	justify-content: space-between;
	flex-direction: column;
	display: flex;
}

.causePicture {
	background-color: #5C7031;
	width: 130px;
	height: 130px;
	transition: 0.5s;
}

.titleStyle {
	display: block;
	font-size: 70px;
	line-height: 75px;
	margin-bottom: 7px;
	color: white;
	font-weight: bold;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.causePicture:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.causeTitle {
	background-color: #9BBC49;
	width: 130px;
	height: 45px;
	font-size: 15px;
	line-height: 20px;
	text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
	text-align: center;
}

.cause1 {
	background-image: url(../images/hatchery_footer.jpg)
}

.cause2 {
	background-image: url(../images/salmonids_footer.jpg)
}

.cause3 {
	background-image: url(../images/komoka_footer.jpg)
}

.footerLinks {
	flex-direction: column;
	display: flex;
}

.footerNavigation {
	flex-direction: row;
	display: flex;
}

.socialMedia {
	width: 91px;
	height: 128px;
	flex-direction: row;
	display: flex;
}

.socialMediaPrompt {
	writing-mode: vertical-lr;
	font-size: 18px;
	line-height: 24px;
	margin-left: 10px;
	margin-top: 11px;
}

.socialMediaLinks {
	margin-left: auto;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
}

.socialMediaLink {
	background-color: #5C7031;
	width: 35px;
	height: 35px;
}

.footerNavigationPiece {
	background-color: #9BBC49;
	width: 104px;
	height: 108px;
	margin-left: 10px;
	font-size: 12px;
	line-height: 15px;
	padding: 11px 10px 9px 0px;
	text-align: right;
}

.copyright {
	width: 209px;
	height: 20px;
	margin-top: 15px;
	font-size: 15px;
	line-height: 17px;
	padding: 15px 2px 13px 3px;
}


#mainMemberCon
{
	display: flex;
	flex-direction: row;
	z-index: 2;
	justify-content: center;
}

#memberBanner, #mainMemberCon
{
	position: absolute;
}

#memberBanner
{
	background-color: #9bbc49;
	height: 55px;
	width: 1000px;
	z-index: 1;
	margin-top: 130px;
}

#featuredImage img
{
	width: 433px;
	height: 286px;
	margin-left: 40px;
	margin-right: 6px;
	margin-top: 123px;
}

#memberTextSection
{
	margin-top: 5px;
	height: 286px;
	width: 435px;
	margin-left: 21px;
	margin-right: 40px;
	margin-top: 123px;

}

#memberText
{
	font-size: 40px;
	color: black;
	line-height: 55pt;
}

#becomeMember
{
	font-size: 20px;
	color: #333;
	line-height: 25px;
	letter-spacing: 1px;

}


#memberText2Section
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 420px;
}

#memberText2
{
	height: 85px;
	width: 545px;
	margin-top: 35px;
	margin-bottom: 68px;
	font-size: 25px;
	text-align: center;
	line-height: 40px;
}

#becomeMemberBanner, #lowerBodyCon
{
	position: absolute;
}

#becomeMemberBanner
{
	background-color: #5d7031;
	height: 145px;
	width: 1000px;
	justify-content: center;
	margin-top: -20px;
	z-index: 1;
	margin-bottom: 400px;
}
#lowerBodyCon
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-right: 40px;
	padding-left: 40px;
	z-index: 2;
}

.sections
{
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 400px;

}

#sectionsPhotos1, #sectionsPhotos2, #sectionsPhotos3
{
	width: 252px;
	height: 169px;
	margin-bottom: 0px;
}

.sectionsTextHeaders
{
	width: 252px;
	text-align: center;
	font-size: 30px;
	height: 100px;
	line-height: 40px;
}

.sectionsText
{
	width: 252px;
	height: 536px;
	margin-bottom: 185px;
	text-align: justify;
	font-size: 22px;
	line-height: 30px;
}


.contents {
	margin-left: 50px;
	margin-right: 50px;
	flex-direction: column;
	display: flex;
}

.aboutTitle {
	background-image: url(../images/about_title.jpg);
	width: 778px;
	height: 120px;
	margin-bottom: 20px;
	padding: 15px 100px 15px 22px;
	font-size: 30px;
	line-height: 40px;
}

.titleStyle {
	display: block;
	font-size: 70px;
	line-height: 75px;
	margin-bottom: 7px;
	color: white;
	font-weight: bold;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.valueRow {
	justify-content: space-between;
	flex-direction: row;
	display: flex;
	margin-bottom: 20px;
}

.valuePicture {
	background-color: #5C7031;
	width: 280px;
	height: 280px;
}

.value1 {
	background-image: url(../images/value1.jpg);
}

.value2 {
	background-image: url(../images/value2.jpg);
}

.value3 {
	background-image: url(../images/value3.jpg);
}

.value4 {
	background-image: url(../images/value4.jpg);
}

.value5 {
	background-image: url(../images/value5.jpg);
}

.value6 {
	background-image: url(../images/value6.jpg);
}
.valueContents {
	background-color: #9BBC49;
	width: 212px;
	height: 97px;
	margin: 140px 20px 20px 20px;
	padding: 14px 14px 7px 14px;
	opacity: 0.9;
	font-size: 15px;
	line-height: 19px;
}

.historyTitle {
	background-image: url(../images/history_title.jpg);
	width: 480px;
	height: 79px;
	margin-top: 80px;
	margin-bottom: 20px;
	padding: 51px 400px 20px 20px;
}

.historyContents {
	width: 850px;
	height: 250px;
	padding: 28px 25px 22px 25px;
}


.fundraising {
	background-color: #9BBC49;
	width: 195px;
	height: 170px;
	font-size: 12px;
	line-height: 12px;
	padding: 10px;
}

.fundraising span {
	font-family: Boogaloo;
	margin-bottom: 7px;
	font-size: 16px;
	line-height: 20px;
	display: block;
}

.cause {
	justify-content: space-between;
	flex-direction: column;
	display: flex;
}

.causePicture {
	background-color: #5C7031;
	width: 130px;
	height: 130px;
	transition: 0.5s;
}

.causePicture:hover {
    box-shadow: 0px 0px 6px rgba(0,0,0,1);
}

.causeTitle {
	background-color: #9BBC49;
	width: 130px;
	height: 45px;
	font-size: 15px;
	line-height: 20px;
	text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
	text-align: center;
}

.cause1 {
	background-image: url(../images/hatchery_footer.jpg)
}

.cause2 {
	background-image: url(../images/salmonids_footer.jpg)
}

.cause3 {
	background-image: url(../images/komoka_footer.jpg)
}

.footerLinks {
	flex-direction: column;
	display: flex;
}

.footerNavigation {
	flex-direction: row;
	display: flex;
}

.socialMedia {
	width: 91px;
	height: 128px;
	flex-direction: row;
	display: flex;
}

.socialMediaPrompt {
	writing-mode: vertical-lr;
	font-size: 18px;
	line-height: 24px;
	margin-left: 10px;
	margin-top: 11px;
}

.socialMediaLinks {
	margin-left: auto;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
}

.socialMediaLink {
	background-color: #5C7031;
	width: 35px;
	height: 35px;
}

.footerNavigationPiece {
	background-color: #9BBC49;
	width: 104px;
	height: 108px;
	margin-left: 10px;
	font-size: 12px;
	line-height: 15px;
	padding: 11px 10px 9px 0px;
	text-align: right;
}

.copyright {
	width: 209px;
	height: 20px;
	margin-top: 15px;
	font-size: 15px;
	line-height: 17px;
	padding: 15px 2px 13px 3px;
}

.chartTitle {
	font-size: 40px;
	line-height: 45px;
	color: #5C7031;
	margin-top: 51px;
	margin-bottom: 38px;
}

.chart {
	display: flex;
	flex-direction: row;
	margin-bottom: 36px;
}

.chart1 {
	margin-right: 36px;
}

.chart2 {
	margin-left: 36px;
}

.chart3 {
	margin-right: 36px;
}

.chartDesc {
	border: 1px solid #707070;
	padding: 30px;
	width: 317px;
	height: 220px;
	font-size: 24px;
	line-height: 27px;
}

.projectsTitleBackground {
	padding: 63px 300px 23px 28px;
	width: 572px;
	height: 64px;
	background-image: url(../images/project_title_bg.jpg);
	margin-bottom: 26px;
}

.projectsTitleBackground h3 {
	font-size: 55px;
	line-height: 75px;
	color: white;
	font-weight: bold;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.projects {
	display: flex;
	flex-direction: row;
}

.project {
	border: 1px solid #707070;
	padding: 25px;
	width: 381px;
	height: 251px;
}

.project img {
	margin-bottom: 4px;
}

.projectLeft {
	margin-right: 30px;
}

.projectDesc a {
	text-decoration: underline;
}

.projectArchives h3 {
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	margin: 26px 0px 5px 0px;
}

.projectArchives {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 123px;
}

.projectArchives a {
	text-decoration: underline;
}

.pastEventsTitle {
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    width: 900px;
    height: 100px;
    padding: 24px 100px 10px 10px;
    margin-bottom: 20px;
    background-image: url(../images/past_events_title.jpg);
    cursor: pointer;
    border: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: agency fb, sans-serif;
}

.articleImg {
	width: 406px;
	height: 62px;
	background-image: url(../images/river.jpg);
	margin-bottom: 47px;
	margin-right: 31px;
	padding: 196px 22px 22px 22px;
}

.pastEvent {
	display: flex;
	flex-direction: row;
}

.pastEventsContent {
	overflow: hidden;
	display: none;
	height: 0px;
}

.visible {
	display: inline-block;
	height: auto;
}


.articleTitle {
	width: 384px;
	height: 42px;
	overflow: auto;
	background-color: #9BBC49;
	opacity: 0.9;
	padding: 11px 10px 11px 10px;
	font-size: 34px;
	line-height: 38px;
	font-weight: bold;
}

.pastEvent article {
	width: 419px;
	height: 262px;
	margin-top: 23px;
	overflow: auto;
	font-size: 18px;
	line-height: 20px;
}
  
#welcome
{
	display: flex;
	margin-top: 120px;
	justify-content: space-between;
}

#welcomeText
{
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	width: 375px;
}

#welcomeTitleText
{
	font-size: 45px;
	margin-top: 40px;
	margin-bottom: 40px;

}

#welcomePhoto
{
	margin-right: 40px;
}

#dedication
{
	font-size: 20pt;
	margin-bottom: 35px;
}

#quote
{
	font-size: 20px;
	line-height: 25px;
}

#gear, #gaerBanner
{
	position: absolute;
}

#gearBanner
{
	background-color: #9bbc49;
	height: 350px;
	z-index: 1;
	width: 100%;
	margin-top: 150px;
}
#gear
{
	height: 390px;
	display: flex;
	flex-direction: row;
	margin-top: -370px;
	z-index: 2;
	margin-left: auto;
}

#traaGear
{
	font-size: 40px;
	margin-bottom: 25px;
}

#teesHatsStickers
{
	font-size: 30px;
	width: 465px;
	margin-bottom: 15px;
}

#itsASteal
{
	font-size: 25px;
	width: 465px;
	line-height: 40px;
}

#gearText
{
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	margin-left: 40px;
}

#gearPhotos
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 191.5px;
	
}

#rodBuilding
{
	justify-content: center;
	margin-top: 160px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 400px;
	margin-bottom: 600px;
	width: 1000px;
}

#rodBuilding h2
{
	font-size: 35px;
	margin-bottom: 30px;
	color: white;
}

#rodBanner, #forRodBanner
{
	position: absolute;
}

#forRodBanner
{
	z-index: 2;
	width: 1000px;
	justify-content: center;
}

#rodBanner
{
	z-index: 1;
	background-color: #5d7031;
	height: 100px;
	width: 1000px;
	margin-top: -217px;
}

#rodBuildingInfo
{
	font-size: 25px;
	margin-bottom: 45px;
	color: white;

}

#rodBuildingDesc
{
	font-size: 30px;
	line-height: 40px;
	margin-right: 40px;
	margin-left: 40px;
	letter-spacing: 2px;
}

#rodBuildingPhotos img
{
	height: 140px;
	width: 140px;
}

#rodBuildingPhotos
{
	justify-content: center;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 40px;
}

#hatcheryBanner, #forHatcheryBanner
{
	position: absolute;
}

#hatcheryBanner
{
	z-index: 1;
	background-color: #5d7031;
	height: 100px;
	width: 1000px;
	margin-top: 135px;
}

#forHatcheryBanner
{
	width: 1000px;
	z-index: 2;
	justify-content: center;
	text-align: center;
}

#hatcheryHome h2
{
	text-align: center;
	font-size: 35px;
	margin-top: 175px;
	margin-bottom: 30px;
	color: white;
}

#hatcheryHome p
{
	text-align: left;
	margin-left: 40px;
	width: 495px;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 2px;
	margin-top: 340px;
}

#hatcheryHome img
{
	width: 390px;
	height: 260px;
	margin-right: 40px;
	margin-top: 310px;
}

#hatcheryInfo
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 160px;
}

#fundraisingBanner, #forFundraisingBanner
{
	position: absolute;
}

#homepageFundraising
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-right: 40px;
	padding-left: 40px;
	margin-top: -50px;
}

#forFundraisingBanner
{
	z-index: 2;
}
#fundraisingBanner
{
	height: 100px;
	justify-content: center;
	width: 1000px;
	z-index: 1;
	background-color: #5d7031;
	margin-top: 40px;
}
#homepageFundraising h2
{
	text-align: center;
	font-size: 35px;
	margin-top: 85px;
	margin-bottom: 40px;
	color: white;
}

.fundraisingSections
{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-right: 40px;
	margin-left: 40px;
}

#fundraisingSectionsFlex
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 240px;
}

.fundraisingSections p
{
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
	line-height: 40px;
}

#localBusinesses h2
{
	text-align: center;
	font-size: 35px;
	margin-top: 160px;
	margin-bottom: 30px;
}

#firstRowLogos
{
	display: flex;
	flex-direction: row;
	margin-right: 40px;
	margin-left: 40px;
	justify-content: space-between;
	margin-top: 200px;
}

.logoBox
{
	display: flex;
	flex-direction: column;
}

.logoBox p
{
	font-size: 25px;
	text-align: center;
	line-height: 35px;
	margin-top: 30px;
}

#localBusinessesBanner, #localBusinesses
{
	position: absolute;
}

#localBusinesses
{
	z-index: 2;
	width: 1000px;
}

#localBusinessesBanner
{
	height: 100px;
	width: 1000px;
	z-index: 1;
	background-color: #5d7031;
	margin-top: 115px;
}

#localBusinesses h2
{
	text-align: center;
	font-size: 35px;
	color: white;
}

#firstRowLogos
{
	margin-top: 200px;
}
#secondRowLogos
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 200px;
}

.logoBox2
{
	margin-left: 60px;
	margin-right: 60px;
}

#contactArea
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 80px;
	margin-left: 80px;
}

#contactArea img
{
	height: 574px;
	width: 382px;
	margin-right: 25px;
}

#formContainer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 25px;

}

#formContainer label
{
	font-size: 26px;
	margin-bottom: 5px;
}

#contactCon p
{
	text-align: center;
	margin-bottom: 80px;
	font-size: 40px;
	margin-top: 150px;
}

#phone, #email, #name, #comments
{
	width: 380px;
	padding: 6px 15px 6px 15px; /*trbl*/
	border: 2px solid #9bbc49;
	border-radius: 10px;
	text-shadow: 0 2px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
	margin-bottom: 35px;
}

#submit
{
	background-color: #9bbc49;
	width: 140px;
	padding: 6px 15px 6px 15px; /*trbl*/
	border: 2px solid #9bbc49;
	border-radius: 10px;
	text-shadow: 0 2px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
	font-size: 20px;
}

#lowerContactCon
{
	display: flex;
	flex-direction: row;
	z-index: 2;
	margin-top: 150px;
}

#mapCon
{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-right: 80px;
	margin-left: 244px;
}

#mapBanner, #lowerContactCon
{
	position: absolute;
}

#mapBanner
{
	z-index: 1;
	background-color: #5d7031;
	height: 475px;
	width: 1000px;
	margin-top: 200px;
}

#mapCon p
{
	font-size: 27px;
	margin-top: 17px;
}

#shippingAddressTitle
{
	font-size: 40px;
	margin-bottom: 20px;
	color: white;
}

#shippingAddress
{
	font-size: 25px;
	margin-bottom: 60px;
	color: white;
	line-height: 35px;
}

#facebookContact
{
	font-size: 35px;
	color: white;
	text-decoration: underline;
}

#moreContactInfo
{
	margin-left: 80px;
	margin-top: 100px;
}

